body {
    background-color: ivory;
  }
  
  div.header {
    overflow: hidden;
    width: 100vw;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #2fecd5;
    font-family: 'Verdana';
  }
  div.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  div.header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  div.header a.active {
    background-color: #ffffff;
    color: black;
  }
  h2 {
    position: absolute;
    width: 872px;
    height: 301px;
    left: 49px;
    top: 100px;
  }
h1{
font-size: 28px; 
}
  .styled {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  img {
    position: absolute;
    width: 535px;
    height: 535px;
    left: 49px;
    top: 300px;
  }
  div#bullets {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .bullets {
    width: 872px;
    height: 301px;
  }